h1, h2, h3, h4, h5, h6, p, span, input, button, form,
header, section, div, footer, ul, li, a, ol, dl, dd, dt {
  font-family: "Inter", sans-serif;
}

/* _____________________________HEADER_____________________________ */
header {
  background: #0D0D0D;
  padding-top: 32px;
}

header .container {
  max-width: 1000px;
}

header .container .row {
  padding: 24px 32px;
  border-radius: 56px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 99.59%), linear-gradient(180deg, rgba(46, 51, 90, 0) 0%, rgba(28, 27, 51, 0.1) 100%);
  box-shadow: 0px 0px 100px 0px rgba(204, 215, 255, 0.15) inset, 0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 30px 0px rgba(0, 0, 0, 0.05), 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.navbar ul {
  gap: 30px;
}

.navbar ul li a {
  color: #E0E0E0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.navbar ul li a:hover,
.active {
  color: #FFF;
}

header .lang {
  gap: 20px;
}

header .lang button {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.gap-lang {
  gap: 7px;
}

.drop-down-lang {
  display: none;
  position: absolute;
  padding: 10px 20px;
  gap: 10px;
  align-self: stretch;
  flex-direction: column;
  border-radius: 6px;
  background: #3563E9;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.15);
  bottom: -40px;
}

.ddmenu-lang:hover .drop-down-lang {
  display: flex;
}

.main-link {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.46px;
  color: #3563E9;
  border-radius: 5px;
  background: #FFF;
  padding: 8px 22px;
  transition: all linear 0.3s;
}

.main-link:hover {
  transform: scale(1.1);
  color: #FFF;
  background-color: #3563E9;
}

header .dropdown-content {
  position: fixed;
  background-color: #3563E9;
  top: 0;
  right: -100%;
  width: 70%;
  z-index: 6;
  height: 100vh;
  padding: 24px;
  display: none;
}

header #check:checked ~ .dropdown-content {
  right: 0;
  display: flex;
}

header #check {
  appearance: none;
}

header #check:checked ~ .dropdown-content .close-menu {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
}

header #check:checked ~ .overley {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.open-menu svg path {
  fill: #E0E0E0;
}

/*  ______________________________HERO_SECTION______________________________ */
.hero-section {
  padding: 96px 0;
  background-color: #0D0D0D;
}

.hero-section h1 {
  font-size: 56px;
  font-weight: 400;
  color: #E4DBDB;
}
.hero-section h1 .bold {
  font-weight: bold;
}
.hero-section .transform-life-size {
  font-size: 58px;
}
.hero-section p {
  font-size: 16px;
  font-weight: 600;
  color: #676868;
  line-height: 180%;
}
.hero-section .img-item img {
  display: block;
  width: 100%;
}
.hero-section .gap-list {
  gap: 50px;
}
.hero-section .hero-gap1 {
  gap: 24px;
}
.hero-section .hero-gap2 {
  gap: 8px;
}
.hero-section .hero-link {
  opacity: 0.34;
  background-color: #D7FB00;
  border-radius: 41px;
  box-shadow: 0px 9px 44.6px 0px rgba(215, 251, 0, 0.24);
  color: #000;
  padding: 17px 24px;
  transition: all linear 0.3s;
}
.hero-section .hero-link:hover {
  transform: scale(1.1);
  color: #FFF;
  background-color: #3563E9;
}
.hero-section .hero-link,
.hero-section button {
  font-size: 16px;
  font-weight: 500;
}
.hero-section button {
  color: #FFF;
}
.hero-section .s1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  line-height: 210%;
}
.hero-section .s2 {
  color: #676868;
  font-size: 14px;
  font-weight: 500;
  line-height: 210%;
}

.hero-gap1 {
  gap: 24px;
}

/* ______________________________CHOOSE_SECTION______________________________ */
.choose-section {
  background: #0D0D0D;
}
.choose-section .row {
  margin-top: 32px;
  border-radius: 32px;
  background: #171717;
  padding: 0px 16px;
}
.choose-section .img-item img {
  display: block;
  width: 100%;
  height: 100%;
}
.choose-section .ch-item {
  padding: 40px 0;
}
.choose-section .choose-gap {
  gap: 64px;
}
.choose-section .item h2 {
  font-size: 36px;
  font-weight: 500;
  color: #FFF;
  text-align: center;
}
.choose-section .item p {
  font-size: 16px;
  font-weight: 500;
  color: #676868;
  text-align: center;
}
.choose-section .list-gap {
  gap: 6px;
}
.choose-section .ch-gap {
  gap: 12px;
}
.choose-section .ch-item h3 {
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
}
.choose-section .ch-item p {
  font-size: 14px;
  font-weight: 500;
  color: #676868;
  line-height: 180%;
  width: 461px;
}
.choose-section .svg-container {
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 99.59%), linear-gradient(180deg, rgba(46, 51, 90, 0) 0%, rgba(28, 27, 51, 0.1) 100%);
  box-shadow: 0px 0px 100px 0px rgba(204, 215, 255, 0.15) inset, 0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 30px 0px rgba(0, 0, 0, 0.05), 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  width: 55px;
  height: 55px;
}

/*  ______________________________REVIEWS_SECTION______________________________ */
/*  ______________________________PLAN_SECTION______________________________ */
/*  ______________________________FOOTER______________________________ */

/*# sourceMappingURL=style.css.map */
