h1, h2, h3, h4, h5, h6, p, span, input, button, form,
header, section, div, footer, ul, li, a, ol, dl, dd, dt {
    font-family: "Inter", sans-serif; 
}

$white:#FFF;
$systemGrey:#E0E0E0;
$light-primary-origin:#3563E9;
$backg:#0D0D0D;
$light-gre:rgba(255, 255, 255, 0.15);
$grey:#E4DBDB;
$Grey-Secondary:#676868;
$primary:#D7FB00;
$green-primery:rgba(215, 251, 0, 0.24);
$grey-primery-origin:rgba(65, 65, 65, 0.20);
$Sexondary:#4026D5;

/* _____________________________HEADER_____________________________ */
header{
    background: $backg;
    padding-top: 32px;
}

header .container{
    max-width: 1000px;
}

header .container .row{
    padding: 24px 32px;
    border-radius: 56px;
    border: 1px solid $light-gre;
    background: radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 99.59%), linear-gradient(180deg, rgba(46, 51, 90, 0.00) 0%, rgba(28, 27, 51, 0.10) 100%);
    box-shadow: 0px 0px 100px 0px rgba(204, 215, 255, 0.15) inset, 0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 30px 0px rgba(0, 0, 0, 0.05), 0px 30px 60px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10px);
}

.navbar ul{
    gap: 30px;
}

.navbar ul li a{
    color: $systemGrey;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.navbar ul li a:hover,
.active{
    color: $white;
}

header .lang{
    gap:20px;
}

header .lang button{
    color: $white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

.gap-lang{
    gap: 7px;
}

.drop-down-lang{
    display: none;
    position: absolute;
    padding: 10px 20px;
    gap: 10px;
    align-self: stretch;
    flex-direction: column;
    border-radius: 6px;
    background: $light-primary-origin;
    box-shadow: 0px 4px 4px 0px $light-gre;
    bottom:-40px;
}

.ddmenu-lang:hover .drop-down-lang{
    display: flex;
}
.main-link{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.46px;
    color: $light-primary-origin;
    border-radius: 5px;
    background: $white;
    padding: 8px 22px;
    transition: all linear 0.3s;
}

.main-link:hover{
    transform: scale(1.1);
    color: $white;
    background-color: $light-primary-origin;
}

header {
    .dropdown-content {
        position: fixed;
        background-color: $light-primary-origin;
        top: 0;
        right: -100%;
        width: 70%;
        z-index: 6;
        height: 100vh;
        padding: 24px;
        display: none;
    }
}

header #check:checked ~ .dropdown-content {
    right: 0;
    display: flex;
}

header #check {
    appearance: none;
}

header #check:checked ~ .dropdown-content .close-menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
}

header #check:checked ~ .overley {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.open-menu svg path{
    fill: $systemGrey;
}
/*  ______________________________HERO_SECTION______________________________ */
.hero-section{
    padding:96px 0;
    background-color: $backg;
}

.hero-section {
    h1 {
        font: {
            size: 56px;
            weight: 400;
        }
        color: $grey;
    
        .bold{
            font-weight: bold;
        }
    }

    .transform-life-size{
        font-size: 58px;
    }

    p {
        font: {
            size: 16px;
            weight: 600;
        }
        color: $Grey-Secondary;
        line-height: 180%;
    }

    .img-item{
        img{
            display: block;
            width: 100%;
        }
    }

    .gap-list{
        gap: 50px;
    }

    .hero-gap1{
        gap: 24px;
    }

    .hero-gap2{
        gap: 8px;
    }

    .hero-link{
        opacity: 0.34;
        background-color: $primary;
        border-radius: 41px;
        box-shadow: 0px 9px 44.6px 0px $green-primery;
        color: #000;
        padding: 17px 24px;
        transition: all linear 0.3s;
    }

    .hero-link:hover{
        transform: scale(1.1);
        color: $white;
        background-color: $light-primary-origin;
    }

    .hero-link,
    button{
        font: {
            size: 16px;
            weight: 500;
        }
    }

    button{
        color: $white;
    }

    .s1{
        color: $white;
        font-size: 24px;
        font-weight: 600;
        line-height: 210%;
    }

    .s2{
        color:$Grey-Secondary;
        font-size: 14px;
        font-weight: 500;
        line-height: 210%;
    }
}

.hero-gap1{
        gap: 24px;
    }
/* ______________________________CHOOSE_SECTION______________________________ */
.choose-section{
    background: $backg;

    .row{
        margin-top: 32px;
        border-radius: 32px;
        background: #171717;
        padding: 0px 16px;
    }

    .img-item{
        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .ch-item{
        padding: 40px 0;
    }

    .choose-gap{
        gap: 64px;
    }

    .item{
        h2{
            font: {
                size: 36px;
                weight: 500;
            }
            color: $white;
            text-align: center;
        }

        p{
            font: {
                size: 16px;
                weight: 500;
            }
            color: $Grey-Secondary;
            text-align: center;
        }
    }

    .ch-item{
        h3{
        font: {
            size: 18px;
            weight: 500;
        }
        color: $white;
        }

        p{
            font: {
                size: 14px;
                weight: 500;
            }
            color: $Grey-Secondary;
            line-height: 180%;
            width:461px
        }
    }

    .svg-container{
        border-radius: 32px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 99.59%), linear-gradient(180deg, rgba(46, 51, 90, 0.00) 0%, rgba(28, 27, 51, 0.10) 100%);
        box-shadow: 0px 0px 100px 0px rgba(204, 215, 255, 0.15) inset, 0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 30px 0px rgba(0, 0, 0, 0.05), 0px 30px 60px 0px rgba(0, 0, 0, 0.10);
        backdrop-filter: blur(10px);
        width: 55px;
        height: 55px;
    }
}

h2{
    font: {
        size: 36px;
        weight: 500;
    }
    color: $white;
    text-align: center;
}

.ch-gap{
        gap:12px;
    }

.list-gap{
        gap:6px;
    }
/*  ______________________________REVIEWS_SECTION______________________________ */
.reviews-section{
    background: $backg;
    padding: 96px 0;
    overflow: hidden;

    .slider{
        margin-top: 24px;
        position:static;
    }

    .row{
        flex-wrap: nowrap;
    }

    .position-1{
        left: -250px;
        position: relative;
    }

    .gap-col{
        padding:0 32.5px;
    }

    .item{
        border-radius: 24px;
        background: $grey-primery-origin;
        backdrop-filter: blur(12.300000190734863px);
        padding: 14px 16px;
        transition: all linear 0.3s;

        &:hover{
            border-radius: 32px;
            border: 1px solid $Grey-Secondary;
            background: radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 99.59%), linear-gradient(180deg, rgba(46, 51, 90, 0.00) 0%, rgba(28, 27, 51, 0.10) 100%);
            box-shadow: 0px 0px 100px 0px rgba(204, 215, 255, 0.15) inset, 0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 30px 0px rgba(0, 0, 0, 0.05), 0px 30px 60px 0px rgba(0, 0, 0, 0.10);
            backdrop-filter: blur(10px);
            padding: 24px 32px;
            transform: scale(1.1);
        }

        p,
        .review-p{
            font: {
                size: 16px;
                weight: 500;
            }
            color: $white;
        }

        span{
            font: {
                    size: 12px;
                    weight: 500;
            }
            color: $Grey-Secondary;
        }
    }

    .review-p{
        line-height: 180%;
        width: 549px;
    }

    .pagination{
        button{
            border-radius: 33px;
            background: $primary;
            width: 44px;
            height: 44px;
            position: relative;
            z-index: 100;
        }

        .pag-b1{
            left: 370px;
            bottom: 150px;
        }

        .pag-b2{
            left: 1025px;
            bottom: 190px;
        }
    }

    .slides-b{
        border-radius: 46px;
        border: 2px solid $backg;
        background: $Sexondary;
        width: 48px;
        height: 48px;
        left: -125px;
        }

    span{
        font: {
                size: 16px;
                weight: 500;
            }
            color: $white;
    }

    .slides-btns{
        position: static;

        button{
            position: relative;
        }

        .btn{
            left: -25px;
        }

        .btn2{
            left: -50px;
        }

        .btn3{
            left: -75px;
        }

        .btn4{
            left:-100px
        }
    }

    .slides{
        position: static;
    }

    .star{
        left: -120px;
        position: relative;
    }
}

/*  ______________________________PLAN_SECTION______________________________ */
.plan-section{
    background: $backg;

    p{
        color: var(--Grey-Secondary, #676868);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        max-width:1014px ;
        margin-top: 16px;
    }

    .col-plan{
        padding: 0 30px;
    }

    .item{
        border-radius: 32px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 99.59%), linear-gradient(180deg, rgba(46, 51, 90, 0.00) 0%, rgba(28, 27, 51, 0.10) 100%);
        box-shadow: 0px 0px 100px 0px rgba(204, 215, 255, 0.15) inset, 0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 30px 0px rgba(0, 0, 0, 0.05), 0px 30px 60px 0px rgba(0, 0, 0, 0.10);
        backdrop-filter: blur(10px);
        width: 386px;
        padding: 24px 32px;
        transition: all linear 0.3s;

        &:hover{
            border-radius: 32px;
            background: #D7FB00;
            transform: translateY(10px);
        }

        span{
            font: {
                size: 16px;
                weight: 500;
            }
            color: $Grey-Secondary;
        }

        p{
            font: {
                size: 48px;
                weight: 500;
            }
            color: $white;
            margin-bottom: 38px;
            
        }

        ul{
            text-align: start;
        }

        ul{
            li{
                list-style-type: disc;
                color: $white;
                font-size: 14px;
                font-weight: 500;
                line-height: 180%;
                max-width: 270px;
            }
        }

        .plan-link{
            border-radius: 60px;
            border: 1px solid #505157;
            width: 202px;
            height: 57px;
            margin-top: 38px;

            a{
                color: $white;
            font-size: 16px;
            font-weight: 500;
            }
        }
    }
    }


/*  ______________________________FOOTER______________________________ */